<html>
    <head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
    
        <title>Dedupe training</title>
        <style>

        	.on_load {
        		display:none;
        	}

			.loader {
			  border: 16px solid #f3f3f3;
			  border-radius: 50%;
			  border-top: 16px solid #3498db;
			  width: 120px;
			  height: 120px;
			  -webkit-animation: spin 2s linear infinite;
			  animation: spin 2s linear infinite;
			}

			@-webkit-keyframes spin {
			  0% { -webkit-transform: rotate(0deg); }
			  100% { -webkit-transform: rotate(360deg); }
			}

			@keyframes spin {
			  0% { transform: rotate(0deg); }
			  100% { transform: rotate(360deg); }
			}

			th, td {
    			padding: 15px;
    		}

		</style>
        <!--<link rel="stylesheet" type="text/css" href="http://www.csszengarden.com/219/219.css?v=8may2013">-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            // Connect to socket
            socket = io.connect('http://' + document.domain + ':' + location.port + '/');

	    	// Send answer to server
            function send_answer() {
				user_input = $("input[name='possible_answer']:checked").val();
				answer_to_send = {'user_input': user_input, 'project_id': "{{ project_id }}" }
				// To uncheck checkboxes
				//$("input[name='possible_answer']").attr('checked',false);
		        socket.emit('answer', JSON.stringify(answer_to_send));
            }

            function finished() {
            	answer_to_send = {'user_input': 'f', 'project_id': "{{ project_id }}" }
		        socket.emit('answer', JSON.stringify(answer_to_send));
            }


            $(document).ready(function(){
				
				// Join (not useful here)
                //socket.on('connect', function() {
            	//	qsdfqsdf  
                //});


                // Create labeller

            	console.log('Launching new job')

        		// Start job
        		$.getJSON("{{ create_labeller_api_url }}", function(json){
        			job_result_api_url = json['job_result_api_url']
		        	var result_fetcher = window.setInterval(function(){	
		        		// Fetch the total number of jobs for display
		        		$.getJSON("{{ count_jobs_in_queue_api_url }}", function(json){
		        			var num_jobs = json['num_jobs']
		        			console.log(json['num_jobs'])
		        			$('#num_jobs').text(num_jobs)
		        		});

						// Check if job has completed
						$.getJSON(job_result_api_url, function(json){
							// If YES: return
							if (json['completed']) {
								window.clearInterval(result_fetcher)
								console.log('Linking was done')
								console.log(JSON.stringify(json))
								// Display results div
				                answer_to_send = {'project_id': "{{ project_id }}"}
				                socket.emit('load_labeller', JSON.stringify(answer_to_send));
							} else {
								console.log('Waiting to complete')
							}


							// TODO: check if job exists
						});
					}, 5000);
				})



				// Redirect when done
				socket.on('redirect', function(data) {
		    		window.location = data.url;
				});

				// On new example, replace text to label and various metrics
	            socket.on('message', function(data) {

					replace_table(data.formated_record_pair)

	            	// Display previously hidden and hide loader
	            	$("#loader").hide()
	            	$(".on_load").show();

	            	// Get variables
				    //var formated_example = data.formated_example;
				    var n_match = data.n_match;
				    var n_distinct = data.n_distinct;
				    var _message = data._message;
				    var has_previous = data.has_previous;

				    // Update text to display
				    //$('#example_to_label').text(formated_example);
				    $('#n_match').text(n_match);
				    $('#n_distinct').text(n_distinct);
				    $('#_message').text(_message);

				    // Show previous button if present
				    if (has_previous) {
				    	$('#previous_button').show();
					$('#previous_button_text').show();
				    } else {
				    	$('#previous_button').hide();
				    	$('#previous_button_text').hide();
					$('#uncertain_button').focus()
				    }

				    // Show message if present
				    if (typeof _message !== 'undefined') {
						$('#_message').text(_message);
						$('#_message').show();
				    } else {
						$('#_message').hide();
				    }

                    //$('#chat').val($('#chat').val() + data.msg + '\n');
                    //$('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

				// Use RETURN key to send answer
                $('#answer').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
						send_answer()
                    }
                });
            });

            function replace_table(formated_record_pair) {
	            	var container = $('#example_to_label_container');
	            	$('#example_to_label').remove();
					table = $('<table id="example_to_label" cellpadding=10>');

					formated_record_pair.forEach(function(field_pair) {
					  	var tr = $('<tr>');
					  	tr.append('<th>' + field_pair[0] + '</th>')
				  		tr.append('<td>' + field_pair[1] + '</td>')
			  			tr.append('<td>' + field_pair[2] + '</td>')
	
					  	table.append(tr);
					});
					container.append(table);
            }
            
	   		// Not used here (to disconnect or leave room)
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "{{ url_for('web_dedupe', project_id='{{ project_id }}') }}";
                });
            }
        </script>
    </head>
    <body>
        <h1 id='title'>Labelling for dedupe: {{ project_id }}</h1>

        <div id="loader" id="class">Loading training examples... This can take a few minutes...</div>

       	<div class="on_load">
			<p id="example_to_label_container" style="white-space: pre-line"> {{ formated_example }} </p>
		</div> 

		<p> You have labelled <span id="n_match">{{ n_match }}</span>/10 positive and <span id="n_distinct">{{ n_distinct }}</span>/10 negative</p>

		<p id="message">{{ _message }}</p>

		<form id="answer">
		  <input type="radio" class="on_load" name="possible_answer" value="y" /><span class="on_load"> (y)es</span>
		  <input type="radio" class="on_load" name="possible_answer" value="n" /><span class="on_load"> (n)o</span>
		  <input type="radio" class="on_load" name="possible_answer" value="u" id="uncertain_button"/><span class="on_load"> (u)ncertain</span>
		  <!--<input type="radio" name="possible_answer" value="f" /> (f)inished -->
		  <input type="radio" name="possible_answer" value="p" id="previous_button" style="display: none"/><span id="previous_button_text" style="display: none"> (p)revious</span>
		</form>
		
		<button id="send_answer" class="on_load" onclick="send_answer()"> Send Answer </button>
		<button id="finished" class="on_load" onclick="finished()"> Finished Labelling / Next step... </button>
 
        <!--<textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>-->
        <!--<a href="#" onclick="leave_room();">Leave this room</a>-->	
    </body>
</html>


	