<html>
    <head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">

        <title>Welcome to the Magical CSV Merge Machine Experience (MCSVMME)</title>
 		<!--<link rel="stylesheet" type="text/css" href="http://www.csszengarden.com/219/219.css?v=8may2013">-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8">


		
        $(document).ready(function() {      

	        function old_project_id() {
			    var formData = new FormData($("#existing_project")[0]);
			    var project_id = formData.get('project_id_old')
			    if (project_id == ''){
			    	alert('No project id was specified')
			    	return project_id
			    } else {
			    	return project_id
			    }
	        }

			$("#existing_project").submit(function(e) {
				e.preventDefault();
			    project_id = old_project_id()
			    go_to_next(project_id)
			}); 

		    $('#deleteProject').click(function(e) {
		    	e.preventDefault();
		    	var project_id = old_project_id()
		    	if (project_id != "") {
			    	var exists_url = '/api/{{ project_type }}/exists/' + project_id
			    	var delete_url = "{{ delete_project_api_url}}" + project_id

			        confirmation_msg = "Are you sure you want to delete your project?"
			        if (window.confirm(confirmation_msg)) {
			       		debugger
						$.getJSON(exists_url, function(json){
						    if (json.exists) {
						    	// Delete project

	  		    				$.getJSON(delete_url)

	  		    				// Remove mention in dropdown list
	  		    				$("#project_ids option[value='" + project_id + "']").remove();
	  		    				$("#project_id_old").val('')
	  		    				alert('Project: '+ project_id + 'was deleted')

						    } else {
						    	alert("Project id: " + project_id + " could not be found")
						    }
						});
			        }
		    	}
		    });
		    

			$("#new_project").submit(function(e) {
				e.preventDefault();

				var formData = new FormData($(this)[0]);

				{% if project_type=='admin' %}
					json_to_send = {'project_id':formData.get('project_id_new'), 'description': formData.get('new_project_description')}
				{% else %}
					json_to_send = {'description': formData.get('new_project_description')}
				{% endif %}
				

            	$.ajax({	
		            type: 'post',
			            url: "{{ new_project_api_url }}",
			            data: JSON.stringify(json_to_send),
			            contentType: "application/json; charset=utf-8",
			            traditional: true,
			            success: function (json) {
			            	alert(JSON.stringify(json_to_send))
							var project_id = json.project_id
							alert("Created new project with ID:".concat(project_id, ". Save this ID somewhere safe..."))
							go_to_next(project_id)
			            }
		        });
			}); 
		});

        function go_to_next(project_id){
       		var exists_url = '/api/{{ project_type }}/exists'.concat('/', project_id)
			$.getJSON(exists_url, function(json){
			    if (json.exists) {
		       		var next_url = '{{ next_url }}'
		       		next_url = next_url.concat(project_id)
		       		window.location = next_url			    		    	
			    } else {
			    	alert("Project id ".concat(project_id, " could not be found."))
			    }
			});
        }

        </script>
    </head>
    <body>
        <h1 id='title'>Welcome to the Magical CSV Merge Machine Experience{% if project_type=='admin' %} (Admin Mode){% endif %}</h1>

		<form id="existing_project">
			 <input type="text" id="project_id_old" name="project_id_old" placeholder='Project ID (ex: af8b2be7b75931...)' list='project_ids'/>
			 <datalist id="project_ids">
			 {% for _id in list_of_projects %}
				<option value="{{ _id }}">
			 {% endfor %}
			 </datalist>
		     <input type="submit" name="submitExisting" value="Join Existing Project" />
		     <button id="deleteProject"> Delete existing project </button>
		</form>

		<form id="new_project" method="post" enctype="multipart/form-data">
			{% if project_type=='admin' %}
				<input type="text" name="project_id_new" placeholder='Project ID (ex: sirene)'/>
			{% endif %}

			<input type="text" name="new_project_description" placeholder='[Optional] Describe your project'/>
		    <input type="submit" name="submitNew" value="Create New Project" />
		</form>

		<footer>
			<a href="/web/">User interface</a>
			<a href="/web/admin/">Admin interface</a>
		</footer>		
    </body>
</html>


