<html>
    <head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
    
        <title>Results of matchining</title>
        <!--<link rel="stylesheet" type="text/css" href="http://www.csszengarden.com/219/219.css?v=8may2013">-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script type="text/javascript" charset="utf-8">

		<html ng-app="WordcountApp">
		<body ng-controller="WordcountController">
		<form role="form" ng-submit="getResults()">


        </script>


		<style type="text/css">
			table.match_table{
				border-collapse:collapse; 
			}
			/*  Define the background color for all the ODD table columns  */
			table.match_table tr td:nth-child(odd){ 
				background: #d4d3e5;
			}
			/*  Define the background color for all the EVEN table columns  */
			table.match_table tr td:nth-child(even){
				background: #e7e5ff;
			}

			#source_table  { 
				background: #d4d3e5;
			}

			#ref_table  { 
				background: #e7e5ff;
			}
		</style>

    </head>
    <body>
        <h1 id='title'>Results of matching</h1>

        <div id='no_results'>
        	<a href="{{ linker_api_url }}" style="display: none;"> (Re)run linking </a>
        </div>

        <div id='with_results' display=none>
	        <h2> Matches found ({{ metrics['num_match'] }} - {{ metrics['perc_match'] }}%) </h2>

	        {% if metrics['num_verif_samples'] > 0 %}
	        	<h3> Precision: {{ metrics['perc_precision'] }}% on {{ metrics['num_verif_samples'] }} samples </h3>
	        {% endif %}

	        <!-- Display results -->
	        <div style="overflow: auto; max-height: 400px;">
				<table class="match_table" style="font-size: 75%; ">
					<tr>
					    {% for col in match_index %}
					        <th class="{{ col }}">{{ col }}</th>
					    {% endfor %}
					</tr>

					{% for row in match_sample %}
					    <tr>
					    {% for col in match_index %}
					        <td class="{{ col }}">{{ row[col] }}</td>
					    {% endfor %}
					    </tr>
					{% endfor %}
				 </table>
			</div>


			{% if match_error_samples %}
				<h3> Errors in matches found (using validation subset) </h3>
		        <!-- Display results -->
		        <div style="overflow: auto; max-height: 400px;">
					<table class="match_table" style="font-size: 75%; ">
						<tr>
						    {% for col in match_index %}
						        <th class="{{ col }}">{{ col }}</th>
						    {% endfor %}
						</tr>

						{% for row in match_error_samples %}
						    <tr>
						    {% for col in match_index %}
						        <td class="{{ col }}">{{ row[col] }}</td>
						    {% endfor %}
						    </tr>
						{% endfor %}
					 </table>
				</div>
			{% endif %}

			<div> </div>
	        <a href="{{ download_api_url }}"> Download result </a>
	        <!--<button id="downloadBtn"> Download result </button>-->
	    </div>>


    </body>
</html>


