<html>
    <head>
        <title>Missing values ({{file_role}}) </title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-tagsinput-latest/src/bootstrap-tagsinput.css') }}" type = "text/css">




        <!--<link rel="stylesheet" type="text/css" href="http://www.csszengarden.com/219/219.css?v=8may2013">-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js') }}" ></script>
        <script src="{{ url_for('static', filename='bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js') }}" ></script>
        <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
        	$("#finished").on('click', function() {
        		// Create json to send to recoding
		        var mvs_dict = {
		        	'columns': {
					    {% for col in index%}
					    		"{{ col }}":  $("#{{ col }}").tagsinput('items').map(function(val){return {"val":val, "score": 1}; }),
					    {% endfor %}
					},
					'all': $("#ALL_COLUMNS_xYzAbC").tagsinput('items').map(function(val){return {"val":val, "score": 1}; })
		        }


				var json_to_send_1 = {
										data: {
											'file_role': "{{ data_params['file_role'] }}",
											'module_name': "replace_mvs",
											'file_name': "config.json",
											},
										params: {"mvs_dict": mvs_dict}
									}

				var json_to_send_2 = {
										data: {
											'file_role': "{{ data_params['file_role'] }}",
											'module_name': "{{ data_params['module_name'] }}",
											'file_name': "{{ data_params['file_name'] }}",
											},
										params: {"mvs_dict": mvs_dict}
									}

	    		$.ajax({
	            type: 'post',
		            url: "{{ add_config_api_url }}",
		            data: JSON.stringify(json_to_send_1),
		            contentType: "application/json; charset=utf-8",
		            traditional: true,
		            success: function (data) {
		            	alert("Wrote config file")
		            	$.ajax({	
				            type: 'post',
					            url: "{{ recode_missing_values_api_url }}",
					            data: JSON.stringify(json_to_send_2),
					            contentType: "application/json; charset=utf-8",
					            traditional: true,
					            success: function (data) {

					            	alert("sent: ".concat(JSON.stringify(json_to_send_2)))
									window.location = "{{ next_url }}"
					            }
				        });		
		            }
	        	});	
				

        	});
        });
        </script>




    </head>
    <body>
        <h1 id='title'>Replace Missing Values</h1>


        <div style="overflow: auto; max-width: 80%;">
			<table id="table" style="font-size: 75%;">
				{% for col in index %}
					<tr>
						<th>{{ col }}</th>
						<td><input id="{{ col }}" type="text" value="{{ formated_infered_mvs['columns'][col]|join(',') }}" data-role="tagsinput"></td>
						{% for row in sample %}
							<td class="{{ col }}">{{ row[col] }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
				<tr>
					<th>ALL COLUMNS</th>
					<td><input id="ALL_COLUMNS_xYzAbC" type="text" value="{{ formated_infered_mvs['all']|join(',') }}" data-role="tagsinput"></td>
				</tr>

			 </table>

		 </div>


		 <button id="finished" class="on_load"> Recode missing values / Next step... </button>

    </body>
</html>


