<html>
    <head>
        <title>Select return</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
 
        <!--<link rel="stylesheet" type="text/css" href="http://www.csszengarden.com/219/219.css?v=8may2013">-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8">

	        var orig_color = '#ffffff'
	        var color_selected = '#5697ff'


	        

	       	$(document).ready(function() {


	       		label = {}
	       		{% for file_role in ["source", "ref"] %}
	       			// Initiate label variable
			        label["{{ file_role }}"] = {
					    {% for col in indexes[file_role] %}
					    		"{{ col }}": false,
					    {% endfor %}
					}


		       		// Change initial background color in table and fill label
					{% for col in selected_columns_to_return[file_role] %}
						label["{{ file_role }}"]["{{ col }}"] = true
						$("#{{ file_role }}_table .{{ col }}").css('background-color', color_selected) 
					{% endfor %}


					// Checkbox behavior (one or zero selected)
					$("input.{{ file_role }}:checkbox").on('click', function() {
					  // in the handler, 'this' refers to the box clicked on*
					  var $box = $(this);
					  if ($box.is(":checked")) {
					    // the name of the box is retrieved using the .attr() method
					    // as it is assumed and expected to be immutable
					    var group = "input.{{ file_role }}:checkbox[name!='" + $box.attr("name") + "']";
					    // the checked state of the group/box on the other hand will change
					    // and the current value is retrieved using .prop() method
					    $(group).prop("checked", false);
					    $box.prop("checked", true);
					  } else {
					    $box.prop("checked", false);
					  }
					});

				// On click behavior for each row in table
					$("#{{ file_role }}_table").ready(function() {
						{% for col in indexes[file_role] %}
					        $("#{{ file_role }}_table .{{ col }}").on("click", function() {
					        	update_color_and_label("{{ col }}", "{{ file_role }}")
					        });
					        $("#{{ file_role }}_table .ALL_XYZ").on("click", function() {
					        	update_color_and_label("{{ col }}", "{{ file_role }}")
					        });
				        {% endfor %}
			    	});
			    {% endfor %}

				// Submit forms and go to following page
				$("#submitBtn").on("click", function() {

					// Add certain matches if existant
					switch ($("input[type=checkbox]:checked").length) {
			            case 1:
			            	alert('You selected only one column for validation. Either select one in both the source and the referential or select none at all')
			            	return false
			            case 2: 
			             	json_to_send = {
			             		'source': $("input.source[type=checkbox]:checked").val(),
			             		'ref': $("input.ref[type=checkbox]:checked").val()
			             	}
				    		$.ajax({
				            type: 'post',
					            url: "{{ add_column_certain_matches_api_url }}",
					            data: JSON.stringify(json_to_send),
					            contentType: "application/json; charset=utf-8",
					            traditional: true,
					            async: false,
					            success: function (data) {
					            	alert('Sent pair:' + JSON.stringify(json_to_send))
					            },
					            error: function(error_msg) {
					            	alert(JSON.stringify(error_msg))
					            	return false
					            }
				        	});
					}

					// Add columns to return
					{% for file_role in ['source', 'ref'] %}
			        	json_to_send = []
			        	for (var col in label["{{ file_role }}"]) {
			        		if (label["{{ file_role }}"][col]) {
			        			json_to_send.push(col)
			        		}
			        	}

			        	// Send selected columns
			    		$.ajax({
			            type: 'post',
				            url: "{{ select_return_api_urls[file_role] }}",
				            data: JSON.stringify(json_to_send),
				            contentType: "application/json; charset=utf-8",
				            traditional: true,
				            async: false,
				            success: function (data) {
				            	alert('Sent' + JSON.stringify(json_to_send))
				            	if ("{{ file_role }}"=='ref'){
					            	// Redirect
					            	window.location = "{{ next_url }}";				            		
				            	}
				            	},
				            error: function(error_msg) {
				            	alert(JSON.stringify(error_msg))
				            	return false
				            }
			        	});
		        	{% endfor %}
            	});

			});



			function update_color_and_label(col, file_role) {
	        	label[file_role][col] = !label[file_role][col] 
		        // Change color
	        	if (label[file_role][col]){
	        		$("#" + file_role + "_table .".concat(col)).css('background-color', color_selected)
	        	} else {
	        		$("#" + file_role + "_table .".concat(col)).css('background-color', orig_color)
	        	}				
			}


	        




        </script>
    </head>


    <body>
        <h1 id='title'>Select columns to return: {{ project_id }}</h1>

		<div style="width: 100%;">
			 <!-- SELECT SOURCE -->
			 <div style="float:left; width: 50%">

			 	<h2 id='title'>Source</h2>

				<table id="source_table" style="font-size: 75%;">
					{% for col in indexes["source"] %}
						<tr>
							<td> <input type="checkbox" class="source" name="{{ col }}" value="{{ col }}"> </td>
							<th class="{{ col }}">{{ col }}</th>
							{% for row in samples['source'] %}
								<td class="{{ col }}">{{ row[col] }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
					<tr>
						<th class="ALL_XYZ">ALL</th>
					</tr>
				 </table>
			</div>

			<div style="float:right; width: 50%">
			 	<h2 id='title'>Referential</h2>

				<table id="ref_table" style="font-size: 75%;">
					{% for col in indexes["ref"] %}
						<tr>
							<td> <input type="checkbox" class="ref" name="{{ col }}" value="{{ col }}"> </td>
							<th class="{{ col }}">{{ col }}</th>
							{% for row in samples['ref'] %}
								<td class="{{ col }}">{{ row[col] }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
					<tr>
						<th class="ALL_XYZ">ALL</th>
					</tr>
				 </table>

			</div>

			<div style="clear:both">

				</br>
				<button type="button" id="submitBtn" >Next Step...</button>
			</div>
		</div>
	
    </body>
</html>


